.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row-1 {height: 8.33%;}
.row-2 {height: 16.66%;}
.row-3 {height: 25%;}
.row-4 {height: 33.33%;}
.row-5 {height: 41.66%;}
.row-6 {height: 50%;}
.row-7 {height: 58.33%;}
.row-8 {height: 66.66%;}
.row-9 {height: 75%;}
.row-10 {height: 83.33%;}
.row-11 {height: 91.66%;}
.row-12 {height: 100%;}

.centreElement{
justify-content: center;
}
.bgContainer{

  position: absolute;
  width: 95rem;
  height: 49rem;

  /* background-image: url("E:\Projects\notes\notes\src\components\BJiMG.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
   */

}
.travelBg{
  
  background-image: url("E:\Projects\BlueBit Hackathon\travel-adviser\src\components\488500.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 
}
.hotelImg{
  background-image: url("E:\Projects\BlueBit Hackathon\travel-adviser\src\components\hotel.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.flightImg{

  background-image: url("E:\Projects\BlueBit Hackathon\travel-adviser\src\components\flight.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.TravelImg{
  background-image: url("E:\Projects\BlueBit Hackathon\travel-adviser\src\components\travelImg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.secondBg{
  background-image: url("E:\Projects\BlueBit Hackathon\travel-adviser\src\components\hotelbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.dataDisplay{
  overflow: scroll ;
}
.example::-webkit-scrollbar {
  display: none;
}
.himage{
 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}